body{
background-color: #000008;
font-family: Inter, Sans-serif;
margin: 0;
  padding: 0;
  line-height: 1.6;
padding-top: 70px;
  font-color: white;

}


.inter-<uniquifier> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


section {
  padding-top: 500px;
  padding-bottom: 500px;
}

.profile-img {
    width: 180px;        
    height: 180px;       
    object-fit: cover;   
    border-radius: 50%; 
    display: block;
    margin: 0 auto;      


}


h2 {
color: #007 bff;
}


ul {   
list-style-type: none ;
padding: 0;   }



ul li {
background: # f8f9fa ;
padding: 10 px ;
margin: 5 px 0;
border-left: 5 px solid #007 bff ;
}


p {
margin-bottom: 50px;
}
